.book-title {
    font-size: 13pt;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Numero massimo di righe da mostrare */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.selected-card {
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}


.book-img{
    height: 400px;
}
